body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    background-color: #282c34;
    color: white;
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.navigation {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color: white;
}

a {
    color: white;
}

a:active,
a:focus {
    color: turquoise;
}

a:hover {
    color: yellow;
}
